<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="security.xml"/>
    <import resource="dataBaseConfig.xml"/>

    <!--model bean-->

    <bean id="student" class="com.epam.lab.group1.facultative.model.Student"/>
    <bean id="tutor" class="com.epam.lab.group1.facultative.model.Tutor"/>
    <bean id="course" class="com.epam.lab.group1.facultative.model.Course"/>

    <!--service-->

    <bean id="authenticationService" class="com.epam.lab.group1.facultative.service.AuthenticationService">
        <constructor-arg name="userDetailsService" ref="facultativeJdbcUserDetailsService"/>
    </bean>
    <bean id="facultativeJdbcUserDetailsService" class="com.epam.lab.group1.facultative.service.security.FacultativeJdbcUserDetailsService">
        <constructor-arg name="userDao" ref="userDao"/>
    </bean>

    <!--DTO-->

    <bean id="personRegistrationFormDTO" class="com.epam.lab.group1.facultative.dto.PersonRegistrationFormDTO"/>
    <bean id="userDto" class="com.epam.lab.group1.facultative.dto.UserDto"/>

</beans>